In [58]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [15]:
oregon = pd.read_csv('2005_-_2014_Fire_Data.csv', sep=',',dtype='unicode')

In [16]:
oregon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74224 entries, 0 to 74223
Data columns (total 32 columns):
FireYear                  28490 non-null object
Current_District          28489 non-null object
Current_Unit              28489 non-null object
FireNumber                28489 non-null object
FiscalYear                28490 non-null object
FireName                  28474 non-null object
Twn                       25903 non-null object
Rng                       25901 non-null object
Sec                       25861 non-null object
Subdiv                    22398 non-null object
County                    28465 non-null object
CauseByDesc               10987 non-null object
GeneralDesc               28030 non-null object
SpecificDesc              24867 non-null object
Cause_Comments            10276 non-null object
General_Restriction       11061 non-null object
Industrial_Restriction    11060 non-null object
Burn_Index                2883 non-null object
RegulatedUseZone          11585 non-null object
Ign_DateTime              11065 non-null object
ReportDateAndTime         28489 non-null object
Control_DateTime          11058 non-null object
Flame_length              2337 non-null object
Behavior                  11049 non-null object
Fuel                      11104 non-null object
Topography                3233 non-null object
Aspect                    3233 non-null object
Slope                     3233 non-null object
Elevation                 3848 non-null object
Size_acres                14719 non-null object
Size_prot                 25718 non-null object
Location                  23941 non-null object
dtypes: object(32)
memory usage: 18.1+ MB

In [26]:
list(oregon.columns.values)

['FireYear',
 'Current_District',
 'Current_Unit',
 'FireNumber',
 'FiscalYear',
 'FireName',
 'Twn',
 'Rng',
 'Sec',
 'Subdiv',
 'County',
 'CauseByDesc',
 'GeneralDesc',
 'SpecificDesc',
 'Cause_Comments',
 'General_Restriction',
 'Industrial_Restriction',
 'Burn_Index',
 'RegulatedUseZone',
 'Ign_DateTime',
 'ReportDateAndTime',
 'Control_DateTime',
 'Flame_length',
 'Behavior',
 'Fuel',
 'Topography',
 'Aspect',
 'Slope',
 'Elevation',
 'Size_acres',
 'Size_prot',
 'Location']

In [44]:
#creating a key for county columns
County_dict = {'1':'Baker','2':'Benton','3':'Clackmas','4':'Clatsop','5':'Columbia','6':'Coos','7':'Crook','8':'Curry','9':'Deschutes','10':'Douglas','11':'Gilliam','12':'Grant','13':'Harney','14':'Hood River','15':'Jackson','16':'Jefferson','17':'Josephine','18':'Klamth','19':'Lake','20':'Lane','21':'Lincoln','22':'Linn','23':'Malheur','24':'Marion','25':'Morrow','26':'Multnomah','27':'Polk','28':'Sherman','29':'Tillamook','30':'Umatilla','31':'Union','32':'Wallowa','33':'Wasco','34':'Washington','35':'Wheeler','36':'Yamhill','37':'Other State'}

In [48]:
#finding observations where all columns are null values
null_columns = oregon.columns[oregon.isnull().any()]
blanks = oregon[oregon.isnull().all(axis=1)][null_columns]

In [51]:
#creating a list of indices with blank rows
blank_list=list(blanks.index.values)

In [55]:
#filtering out blank rows in new df
oregon_cleaned = oregon[~oregon.index.isin(blank_list)]

In [56]:
oregon_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28490 entries, 416 to 74223
Data columns (total 32 columns):
FireYear                  28490 non-null object
Current_District          28489 non-null object
Current_Unit              28489 non-null object
FireNumber                28489 non-null object
FiscalYear                28490 non-null object
FireName                  28474 non-null object
Twn                       25903 non-null object
Rng                       25901 non-null object
Sec                       25861 non-null object
Subdiv                    22398 non-null object
County                    28465 non-null object
CauseByDesc               10987 non-null object
GeneralDesc               28030 non-null object
SpecificDesc              24867 non-null object
Cause_Comments            10276 non-null object
General_Restriction       11061 non-null object
Industrial_Restriction    11060 non-null object
Burn_Index                2883 non-null object
RegulatedUseZone          11585 non-null object
Ign_DateTime              11065 non-null object
ReportDateAndTime         28489 non-null object
Control_DateTime          11058 non-null object
Flame_length              2337 non-null object
Behavior                  11049 non-null object
Fuel                      11104 non-null object
Topography                3233 non-null object
Aspect                    3233 non-null object
Slope                     3233 non-null object
Elevation                 3848 non-null object
Size_acres                14719 non-null object
Size_prot                 25718 non-null object
Location                  23941 non-null object
dtypes: object(32)
memory usage: 7.2+ MB

In [57]:
oregon_cleaned.head()

,FireYear,Current_District,Current_Unit,FireNumber,FiscalYear,FireName,Twn,Rng,Sec,Subdiv,...,Flame_length,Behavior,Fuel,Topography,Aspect,Slope,Elevation,Size_acres,Size_prot,Location
416,2005,97,4,5,2006,NFCA,04N,43E,34,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(45, -117)"
1226,2005,78,1,14,2006,Smyth Road,16S,05W,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(44, -123)"
1315,2005,71,2,15,2006,NFCA Ponderosa Lane,36S,05W,32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(42, -123)"
1355,2005,52,1,15,2006,DK BURN,08N,07W,3,NESW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01,NaN,"(46, -123)"
1400,2005,55,3,15,2006,Big Elk,12S,09W,12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(44, -123)"